@charset "utf-8";
.judul {
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #0033FF;
}
.author {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	font-weight: normal;
	color: #666666;
	text-align: center;
	width: 220px;
	text-decoration: none;
}
.link_author {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}

table {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 12px;
	background-position: center center;
	margin-left: 46px;
}

.input_username {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	background-color: #CCCCCC;
	padding-left: 3px;
}

.input_email {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	background-color: #CCCCCC;
	padding-left: 3px;
}

.input_password {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	background-color: #CCCCCC;
	padding-left: 3px;
}

.tampil_info {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	background-color: #E7E8E3;
	text-align: center;
	margin-left: 47px;
	border: thin dashed #CCCCCC;
	clear: right;
	float: left;
	width: 200px;
}

.info_email {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	background-color: #E7E8E3;
	text-align: center;
	margin-left: 47px;
	border: thin dashed #CCCCCC;
	clear: right;
	float: left;
	width: 200px;
}
